<section>
    <h4><a href="/tasks/{{id}}">{{title}}</a></h4>
    <a href="/user/{{author_id}}">{{user.username}}</a>
    <p>{{date_created}}</p>
    <p>{{description}}</p>
    <ul>
        {{#each task_by_taskTag as |taskTag|}}
        <li>
            <a href="/tags/{{taskTag.id}}">{{taskTag.tag_name}}</a>
        </li>
        {{/each}}
    </ul>
</section>