<link rel="stylesheet" href="/css/task.css">
<div id="task-page-body">

    <section class="auth-sec" id="auth-sec">
        <h3>
            {{task.title}}
        </h3>
        <a href="/user/{{task.author_id}}">
            {{task.user.username}}
        </a>
        <p>
            {{format_date task.date_created}}
        </p>
        <div class="border border-1 p-2">
            <ul class="d-flex flex-row" id="tag-list" data-task="{{task.id}}">
                {{#each task.task_by_taskTag as |tag|}}
                <li class="d-flex justify-content-between border p-2 m-1 align-content-center">
                    <a href="/tags/{{tag.id}}" class="">
                        <p class="tags mb-0 align-center">{{tag.tag_name}}</p>
                    </a>

                    {{#if ../owner}}
                    <button class="btn" data-tag="{{tag.id}}">Remove</button>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            {{> linkTagToTask}}
        </div>
        {{> post}}
    </section>
    <aside>
        <h2>Comments:</h2>
        <button onclick="openModal()" class="comment-btn">View Comments</button>
    </aside>
</div>
<script>
    function openModal() {
        const modal = document.getElementById('commentModal');
        modal.style.display = 'block';
    }

    function closeModal() {
        const modal = document.getElementById('commentModal');
        modal.style.display = 'none';
    }
</script>

<div id="commentModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <h2>Comments:</h2>
        {{> commentForm}}
        {{#each task.comments as |comment|}}
        {{> comment}}
        {{/each}}
    </div>
</div>
{{#if owner}}
<script src="/js/removeTag.js"></script>
{{/if}}