<link rel="stylesheet" href="/css/task.css">
<div id="task-page-body">
    <section class="auth-sec">
        <h3>
            {{task.title}}
        </h3>
        <a href="/user/{{task.author_id}}">
            {{task.user.username}}
        </a>
        <p>
            {{task.date_created}}
        </p>
        {{> post}}
        <ul>
            {{#each task.task_by_taskTag as |tag|}}
            <li>
                <a href="/tag/{{tag.id}}">{{tag.tag_name}}</a>
            </li>
            {{/each}}
        </ul>
    </section>
    </section>
     <section class="post-sec">
            {{> post}}
            
            <div>
        {{format_tag task.task_by_taskTag}}
       </div>
    <aside>
        <h2>Comments:</h2>
        {{#each task.comments as |comment|}}
        {{> comment}}
        {{/each}}
    </aside>
     </section>
</div>