<div id="task-page-body">
    <section>
        <h3>
            {{task.title}}
        </h3>
        <a href="/user/{{task.author_id}}">
            {{task.user.username}}
        </a>
        <p>
            {{task.date_created}}
        </p>
        {{> post}}
        <div>
            <p>Emotion: {{emotion}}</p>
            <ul>
                {{#each task.task_by_taskTag as |tag|}}
                <li>
                    <a href="/tag/{{tag.id}}">{{tag.tag_name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
    <aside>
        <h2>Comments:</h2>
        {{#each task.comments as |comment|}}
        {{> comment}}
        {{/each}}
    </aside>
</div>