<section>
    <h2>Profile:</h2>
    <p>Name: {{users.first_name}} {{users.last_name}}, Username: {{users.username}}</p>
    <a href="mailto: {{users.email}}">Contact via email</a>
</section>
<section>
    {{#if tasks}}
    {{#each tasks as |task|}}
    {{> task-card}}
    {{/each}}
    {{else}}
    <h3>No posts yet...</h3>
    {{/if}}
</section>